.App {
  text-align: left;
  max-width:450px;
  width:90vw;
  color: #555;
  margin:0 auto;
  margin-bottom:20px;
}

.investment, .years, .pocket {
  border:1px solid #888;
  border-radius:5%;
}

.App form {
  margin-bottom:30px;
}

.App form input {
  width:70px;
  margin-right:10px;
  margin-bottom:10px;
}

label {
  padding-right: 10px;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

a, a:visited {
  color: rgb(68, 174, 209);
}

label {
  display:inline-block;
}

#formFields {
  float:left;
  margin-right:20px;
  margin-left:0px;
}

button {
  background-color: rgb(68, 174, 209);
  color:white;
  border:1px solid #eee;
  padding:5px 8px 5px 8px;
  border-radius:10px;
}

input {
  padding:2.5px;
  color:#555;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
