* {
  font-size: medium;
}

.App {
  text-align: left;
  max-width:400px;
  width:90vw;
  color: #555;
  margin:0 auto;
  margin-bottom:20px;
}

.btc {
  margin-top:1px;
  background:rgb(68, 174, 209);
  border-radius:4px;
  border: 1px solid #333;
  color:#fff;
  padding:1px;
}

.App h1 {
  margin-top:10px;
  font-size:30px;
}

input, .investment, .years, .pocket {
  border:1px solid #888;
  border-radius:5%;
  color: #555;
}

input {
  padding:2.5px;
  color:#555;
}

input:focus {
  outline: none !important;
  border:1px solid #555;
  box-shadow: 0 0 10px #719ECE;
  color: #555;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 color:#555;
}

.App form {
  margin-bottom:30px;
}

.App form input {
  width:120px;
  margin-right:10px;
  margin-bottom:10px;
  height:30px;
}

label {
  padding-right: 10px;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

a, a:visited {
  color: rgb(68, 174, 209);
  font-size:inherit;
}

label {
  display:inline-block;
}

#formFields {
  float:left;
  margin-right:20px;
  margin-left:0px;
}

button {
  background-color: rgb(68, 174, 209);
  color:white;
  border:1px solid #eee;
  padding:5px 8px 5px 8px;
  border-radius:10px;
  margin-top:20px;
}

span {font-size: inherit;}
#info {margin-bottom:0px;}
#hideLink {
  margin-bottom:10px;
  text-align:left;
  display:block;
}

#showLink {
  margin-bottom:10px;
  text-align:left;
  display:block;
}


button:focus {
  outline:0px;
}

@media screen and (min-width: 900px) {
  .control {
    margin-right:40%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
