.App {
  text-align: left;
  max-width:500px;
  margin:0 auto;
  margin-bottom:20px;
  width:100vw;
  padding: 10px;
}

.App form {
  margin-bottom:30px;
}

.App form input {
  width:70px;
  margin-right:10px;
  margin-bottom:10px;
}

label {
  padding-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-link {
  color: blue;
}

label {
  display:inline-block;
}

#formFields {
  float:left;
  margin-right:20px;
  margin-left:0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
